*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.parallax-header{
    background: #000;
     background: /*linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.8)
    ), */
    url(/assets/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content{
    padding: 100px 0 150px 0;
}
.content .right{
    align-items: center;
    height: 500px;
    width:  450px; 
    padding: 70px;
    padding: 0px;
    margin-top: 100px;
    margin-left: 0px;
}

.content{
    margin-top: 1000px;
    box-shadow: 50px 10px 50px 10px rgba(0,0,0,0);
    background-color: #fff;
}

.content .left{
    padding-top: 20px;
}

.content p{
    margin-left: 10px;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 4rem;
}

.navbar{
    background: fixed;
}

.container__progress {
    align-items: left;
    display: flex;
    justify-content: center;
    background-color: #357edd;
    color: #fff;
    border-radius: 9999px;   
}
