.parallax-header{
    background: #000;
     background: /*linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.8)
    ), */
    url(/assets/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content{
    padding: 100px 0 150px 0;
}
.content .right{
    align-items: center;
    height: 200px;
    width:  300px; 
    padding: 20px 20px;
    padding: 0px;
}

.content{
    margin-top: -80px;
    box-shadow: 0 0 20px -6px rgba(0,0,0,0.2);
    background-color: #fff;

}

.content .left{
    padding-top: 20px;
}