*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.parallax-header{
    /* background: #000; */
     background: url("/assets/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content{
    padding: 100px 0 150px 0;
}
.content .right{
    align-items: center;
    height: 500px;
    width:  450px; 
    padding: 70px;
    padding: 0px;
    margin-top: 100px;
    margin-left: 0px;
}

.content{
    margin-top: 1000px;
    box-shadow: 50px 10px 50px 10px rgba(0,0,0,0);
    background-color: #fff;
}

.content .left{
    padding-top: 20px;
}

.content p{
    margin-left: 10px;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}

.navbar{
    background: fixed;
}

.container__progress {
    align-items: left;
    display: flex;
    justify-content: center;
    background-color: #357edd;
    color: #fff;
    border-radius: 9999px;   
}

/* .buton {
    position: relative;
    padding: 10px 30px;
    margin: 0px 15px;
    font-size:20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    padding: 10px;
    font-family: 'Varela Round', sans-serif;
    
    }
    #neon:before {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width:60px;
        height: 30px;
        border-top:2px solid #FF0000;
        border-left: 2px solid #FF0000;
        transition: 0.5s;
        
        }
        #neon:hover::before{
        width: 98%;
        height: 87%;
        border-top:2px solid #7FF000;
        border-left:2px solid #7FF000;
        
        }
        #neon:hover{
        background: #7FF000;
        color: black;
        box-shadow: 0 0 50px #7FF000;
        transition-delay: 0.5%;
        font-weight: 300;
        }
        #neon:after{
        content:'';
        position: absolute;
        bottom: 0;
        right: 0;
        width:60px;
        height: 30px;
        border-bottom:2px solid #FF0000;
        border-right: 2px solid #FF0000;
        transition: 0.5s;
        }
        #neon:hover::after{
        width: 98%;
        height: 89%;
        border-bottom:2px solid #7FF000;
        border-right:2px solid #7FF000;
        }
         */

.home .container-lg .design{
    font-family: 'Zen Tokyo Zoo', cursive;
}

.home .container-lg{
    font-family: 'Open Sans Condensed', sans-serif;
}
.home .container-lg .fw-bold{
    font-family: 'STIX Two Math', serif;
}
.navbar .container-fluid .nav-link{
    font-family: 'Uchen', serif;
}

.hy .MySkills{
    font-family: 'Uchen', serif;
}

 .testimonials .container-sm-6 .row .col-lg-8 .section-tit h2{
    font-family: 'Uchen', serif;
}

.contact h2{
    font-family: 'Uchen', serif;
} 

div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
  }

  div.transbox h1{
    margin: 5%;
    font-weight: bold;
    color: #000000;
    font-family: 'Yatra One', cursive;
  }
  div.transbox pre{
    font-family: 'Yatra One', cursive;
  }
  .testimonials .container-sm-6 .row .col-lg-8 .section-tit h2{
    font-family: 'Uchen', serif;
  }
  .hyi{
    background-image: url("/assets/skiils.jpg");
 }
 